# Set to true for development mode, false for production
DEBUG_MODE=true

DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=test_tec
DB_HOST=localhost
DB_PORT=3306

# Secret key for JWT access token signing, change this to a secure random string in production
ACCESS_TOKEN_SECRET=your_jwt_access_secret_key
# Token expiration time, can be adjusted as needed
ACCESS_TOKEN_HOUR_LIFESPAN=2

# Secret key for JWT refresh token signing, change this to a secure random string in production
REFRESH_TOKEN_SECRET=your_jwt_refresh_secret_key
REFRESH_TOKEN_DAYS_LIFESPAN=7

# URL of the frontend application
FRONTEND_URL=http://localhost:5173
# FRONTEND_URL=https://tecukdc.com

FRONTEND_URL_JWT=localhost
# FRONTEND_URL_JWT=.tecukdc.com